/node_modules
/public/hot
/public/storage
/storage/*.key
/.vscode
.idea/
.env
.env.example
.production.env
.local.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/temp
!/vendor/dompdf/dompdf/lib/fonts
storage/logs
storage/fonts
storage/framework

/public/assets/images/temp
!/storage/fonts/
sftp.json
